.wrap{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 500px;
    height: 350px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.card h2{
  text-align: center;

}
.form{

}
.form_item, .ant-form-item-control-input-content{
    display: flex;
    justify-content:space-between;
}
.code{
    width: 200px;
}
.img{
    width: 100px;
    height: 40px;
}